<h1>Users</h1>

<div>
   <form [formGroup]="newUserForm" (ngSubmit)="createUser(newUserForm.value)">
    <div>
      <label for="firstName">First Name:</label>
      <input type="text" name="firstname" id="firstName" formControlName="firstName" />
    </div>
    <div>
      <label for="lastName">Last Name:</label>
      <input type="text" name="lastname" id="lastName" formControlName="lastName" />
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" formControlName="email" />
    </div>
    <div>
      <label for="birthday">Birthday:</label>
      <input type="date" name="birthday" id="birthday" formControlName="birthday" />
    </div>
    <div>
      <label for="login">Login:</label>
      <input type="text" name="login" id="login" formControlName="login" />
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" formControlName="password" />
    </div>
    <div>
      <label for="phone">Phone:</label>
      <input type="tel" name="fone" id="phone" formControlName="phone" />
    </div>
    <button type="submit">salvar</button>
  </form>
</div>


