<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Birthday</th>
      <th>Login</th>
      <th>Phone</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.birthday | date:'yyyy-MM-dd' }}</td>
      <td>{{ user.login }}</td>
      <td>{{ user.phone }}</td>
      <td>
        <button (click)="updateUser(user.id, user)">Edit</button>
        <button (click)="deleteUser(user.id)">Delete</button>

      </td>
    </tr>
  </tbody>
</table>
